footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.fixed {
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.visible {
  opacity: 1;
}

footer:not(.visible) {
  opacity: 0;
}

/* Osnovni stilovi za telo stranice */

/* Dodajte razmak između sadržaja i footera */
.content {
  min-height: calc(100vh - 60px); /* Visina viewport-a minus visina footera */
}
