/* Osnovne stilizacije za App */


.App {

  min-height: 100%; /* Osigurava da stranica zauzme najmanje visinu celog ekrana */
  margin: 0;
}

header, main {
  flex-grow: 1; /* Ove komponente treba da rastu i zauzmu raspoloživi prostor */
}

/* Ostatak stilova kao što je za logo i druge komponente */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
