body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
}

header, main, footer {
  margin: auto;
}

@media (max-width: 600px) {
  .logo {
      width: 100px; /* Manji logo na manjim ekranima */
  }

  h1, h2, h3 {
      font-size: smaller; /* Manji font na manjim ekranima */
  }
}